body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  text-align: center;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 44px;
}
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
legend {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-align: center;
}
h1, h2, p, legend {
  margin: 1em auto;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: #FFD700;
} 
.menu {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 10px;
}
hr {
  height: 2px;
  background-color: #FFD700;
  border-color: rgb(46, 40, 168);
}
a {
  color: #40E0D0;
}


