body {
    backbackground: url('https://raw.githubusercontent.com/sbr-rodrigues/Profile/refs/heads/main/Wallpaper%20-%20Sabrina%20Rodrigues.gif') no-repeat center center fixed
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-size: cover; /* Faz a imagem cobrir todo o elemento, cortando se necessário para manter a proporção */
    background-attachment: fixed; /* Opcional: faz a imagem de fundo permanecer fixa enquanto a página rola */
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
section {
  text-align: center;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 44px;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

legend {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-align: center;
}

h1,h2, p {
  margin: 1em auto;
  text-align: center;
}
 
.menu {
  width: 400px;
  height: 100%;
  padding: 60px;
  border-radius: 0 12px 12px 0;
}

hr {
  height: 2px;
  background-color: #4b4178;
  border-color: rgb(46, 40, 168);
}

a {
  color: #7d3b5e;
}

